*.lst
*.aux
sample/
*.xls
*.gdx
*.lxi
*.GEN
sample_gams_code/test.*
*.dat
*.plt
*.org
*-test.el
copy_files.bat
new/
emacs.exe.stackdump
identifier/
modlib/
lxi/old_exe/gamslxi.c
lxi/old_exe/
lxi/work/
lxi/exe/
*.tds
